%strong New comment
= simple_form_for [@ticket, @comment] do |f|
  = f.error_messages
  %p
    = f.input :text
  - authorized?(:"change states", @project) do
    %p
      = f.label :state_id
      = f.collection_select :state_id, State.all, :id, :name

  = render 'tags/form'

  = f.submit
