= simple_form_for [ @project, @ticket ], :html => {:multipart => true} do |f|
  = f.error_messages
  = f.input :title
  = f.input :description

  - number = 0
  = f.fields_for :assets do |asset|
    %p
      = asset.label :asset, "File ##{number += 1}"
      = asset.file_field :asset

  = f.submit
