- title(@project.name, "Projects")

%h2= @project.name

- admin_only do
  = link_to "Edit Project", edit_project_path(@project)
  = link_to "Delete Project", @project, :method => :delete, :confirm => "Are you sure to delete this project"

- authorized?("create tickets".to_sym, @project) do
  = link_to "New Ticket", new_project_ticket_path(@project)

= form_tag search_project_tickets_path(@project), :method => :get do
  = label_tag "search"
  = text_field_tag "search", params[:search]
  = submit_tag "Search"

%ul
  - @tickets.each do |ticket|
    %li
      = render ticket.state if ticket.state
      = "# #{ticket.id} - "
      = link_to ticket.title, [@project, ticket]
